.ingredient {
    display: flex;
    flex-direction: column;
    gap: var(--offset-base-size);
    align-items: center;
    position: relative;
    width: 272px;
    height: 208px;
}

.price {
    composes: text_type_digits-default from global;
    display: flex;
    gap: calc(var(--offset-base-size) * 2);
    align-items: center;
}