.section {
    width: 600px;
    max-height: max(calc(100vh - 128px), 500px);
    display: flex;
    flex-direction: column;
    padding: calc(var(--offset-base-size) * 25) calc(var(--offset-base-size) * 2) calc(var(--offset-base-size) * 13);
}

.stufflist {
    composes: custom-scroll from global;
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-size) * 4) 0;
    overflow-y: scroll;
}

.stuffitem {
    display: flex;
    gap: calc(var(--offset-base-size) * 2);
    align-items: center;
}

.order {
    margin-top: calc(var(--offset-base-size) * 10);
    margin-right: calc(var(--offset-base-size) * 6);
    display: flex;
    justify-content: end;
    gap: calc(var(--offset-base-size) * 10);
}

.price {
    composes: text_type_digits-medium from global;
    display: flex;
    align-items: center;
    gap: calc(var(--offset-base-size) * 2);

    svg {
        width: 36px;
        height: 36px;
    }
}