.Content {
  display: flex;
  gap: 60px;
  padding-top: calc(var(--offset-base-size) * 30);
}

.NavWrap {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.Nav {
  composes: text_type_main-medium from global;
  display: flex;
  flex-direction: column;
}

.NavLink {
  text-decoration: none;
  line-height: 64px;
  color: var(--text-inactive-color);
  cursor: pointer;
}

.NavLinkActive {
  text-decoration: none;
  line-height: 64px;
  color: var(--text-primary-color);
}

.Inputs {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Buttons {
  align-self: center;
  display: flex;
  gap: 24px;
}

.Outlet {
  flex-grow: 1;
}