.Main {
    composes: pb-10 from global;
    max-width: var(--main-width);
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.Loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Error {
    composes: pt-25 from global;
}