.list {
    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--offset-base-size) * 6) calc(var(--offset-base-size) * 2) calc(var(--offset-base-size) * 10);
    row-gap: calc(var(--offset-base-size) * 8);
    column-gap: calc(var(--offset-base-size) * 6);
}