.section {
    width: 600px;
    max-height: max(calc(100vh - 128px), 500px);
    display: flex;
    flex-direction: column;
}

.header {
    padding-top: calc(var(--offset-base-size) * 10);
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-size) * 5);
}

.nav {
    display: flex;
}

.groups {
    composes: custom-scroll from global;
    padding-top: calc(var(--offset-base-size) * 10);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}