.Link {
  composes: pb-4 pt-4 pl-5 pr-5 text_type_main-default from global;
  composes: text_color_inactive from global;

  display: flex;
  gap: calc(var(--offset-base-size)  * 2);
  cursor: pointer;
}

.Active {
  composes: text_color_primary from global;
}