.Header {
  composes: pb-4 pt-4 from global;
  background-color: var(--background);
}

.HeaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--main-width);
  margin: auto;
}

.NavLink {
  text-decoration: none;
}

.Logo {
  margin-left: 112px;
}

.Profile {
  margin-left: auto;
}