.header {
    composes: pb-4 pt-4 from global;
    
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: auto;
}

.logo {
    margin-left: 112px;
}

.profile {
    margin-left: auto;
}